.styled-table {
    width: 60%;
    margin: 50px auto;
    border-collapse: collapse;
    background: rgba(61, 90, 128, 0.1); /* фон */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* тень для глубины */
    padding: 20px;
    text-align: center;
    background-color: rgba(173, 74, 74, 0.144)
}

.styled-table td {
    padding: 20px;
    border: 2px solid rgba(64, 163, 255, 0.2); /* полупрозрачные границы */
}

body {
    background-color: #e2e2ff;
    background: linear-gradient(90deg, #c98383, #d0d0ff);
    color: rgb(236, 233, 255);
}

/* стиль для h1 */
h1 {
    
    color: #ffffff;
    text-align: center;
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    text-shadow: 
        0px 0px 8px rgba(95, 163, 123, 0.8), 
        0px 0px 16px rgba(0, 110, 255, 0.9), 
        0px 0px 32px rgba(255, 255, 255, 1);
    letter-spacing: 3px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #2d2d42, #2f3d4d);
    padding: 10px;
    border-radius: 10px;
}

/* стиль для кнопки "начать!" */
.start-button {
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    background: linear-gradient(90deg, #2d2d42, #2f3d4d); /* такой же градиент */
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
        text-shadow: 
        0px 0px 8px rgba(95, 163, 123, 0.8), 
        0px 0px 16px rgba(0, 110, 255, 0.9), 
        0px 0px 32px rgba(255, 255, 255, 1);
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

/* эффект при наведении */
.start-button:hover {
    background: linear-gradient(90deg, #2f3d4d, #2d2d42);
    transform: scale(1.1);
}

/* стиль для блока с текстом */
.text-container {
    display: none;
    margin: 20px auto;
    /*width: 60%;*/
    font-size: 20px;
    font-family: monospace;
    background: #f4f4f4;
    padding: 20px;  
    border-radius: 10px;
    line-height: 1.6;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: black;
    position:absolute;
    
}

.time1{
    display: none;
    margin: 20px auto;
    width: 60%;
    font-size: 20px;
    font-family: monospace;
    background: #dddcf5;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.6;
    box-shadow: 8px 8px 20px #afff6480;
    background: linear-gradient(90deg, #16ad99, #07aa50);
    color: black;
}


.time2 { 
    display: none;
    margin: 20px auto;
    width: 60%;
    font-size: 20px;
    font-family: monospace;
    background: #dddcf5;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.6;
    box-shadow: 8px 8px 20px rgba(255, 0, 0, 0.5);
    background: linear-gradient(90deg, #ff616e, #ff60b7);
    color: black;
}


.mistakes{
    display: none;
    margin: 20px auto;
    width: 60%;
    font-size: 20px;
    font-family: monospace;
    background: #dddcf5;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.6;
    box-shadow: 8px 8px 20px rgba(15, 133, 243, 0.5);
    background: linear-gradient(90deg, #7690c9, #244c80);
    color: black;
}


.button-wrapper {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#timer-display {
    font-size: 28px;
    font-family: 'Oswald', sans-serif; /* Такой же шрифт, как у кнопки */
    font-weight: 400; /* Тонкий стиль */
    color: white;
    text-align: center;
    background: linear-gradient(90deg, #2d2d42, #2f3d4d);
    padding: 15px 30px;
    border-radius: 15px;
    display: block; /* Размещаем под кнопкой */
    text-shadow: 
    0px 0px 8px rgba(95, 163, 123, 0.8), 
    0px 0px 16px rgba(0, 110, 255, 0.9), 
    0px 0px 32px rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin: 15px auto 0; /* Отступ сверху для расстояния от кнопки */
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    width: fit-content; /* Ширина по содержимому */
}

.text{
    filter: blur()
}

.textp{
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
}
.text-input{
    position: relative;
    z-index: 2;
    width: 100px;
    height: 100px;
}
